<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Pizza App</a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">

            @*HTML Helpers*@
            @*<li class="nav-item">@Html.ActionLink("Home", "Index", "Home", new { }, new { @class = "nav-link" })</li>
        <li class="nav-item">@Html.ActionLink("Contact", "Contact", "Home", new { }, new { @class = "nav-link" })</li>
        <li class="nav-item">@Html.ActionLink("About Us", "About", "Home", new { }, new { @class = "nav-link" })</li>
        <li class="nav-item">@Html.ActionLink("Orders", "Index", "Order", new { }, new { @class = "nav-link" })</li>*@

            @*Tag Helpers*@
            <li><a asp-controller="Home" asp-action="Index" class="nav-link">Home</a></li>
            <li><a asp-controller="Order" asp-action="Menu" class="nav-link">Menu</a></li>
            <li><a asp-controller="Order" asp-action="Order" class="nav-link">Order Pizza</a></li>
            <li><a asp-controller="Order" asp-action="Orders" class="nav-link">Orders</a></li>
            <li><a asp-controller="Home" asp-action="Contact" class="nav-link">Contact</a></li>
            <li><a asp-controller="Home" asp-action="About" class="nav-link">About Us</a></li>

        </ul>
    </div>
</nav>