<h1>Contact</h1>
<ul>
    <li><span>Telepohen: </span><span>070111222</span></li>
    <li><span>Email: </span><span>pizza@app.com</span></li>
    <li><span>Address: </span><span>Ul. Ulica - Grad.</span></li>
</ul>