@model PizzaSizeViewModel

<h4>@Model.PizzaViewModel.Name - @Model.SizeViewModel.Name</h4>
<p>@Model.PizzaViewModel.Description (@Model.SizeViewModel.Description)</p>
<a asp-controller="PizzaSize" asp-action="Index">Back to menu</a>