@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div class="jumbotron">
    <h1>About Us</h1>
    <p>The best pizza application.</p>
</div>
