@model Pizza
@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>
<p>Pizzas</p>

<span>@ViewData["SharedMessage"]</span>

@section Scripts{ 
<script>
    window.alert("Hello from Pizza Index View!")
</script>
<script src=""></script>
}

