@model OrderItemViewModel

    <form asp-controller="OrderItem" asp-action="Save">
        <input type="hidden" asp-for="Id" />
        <input type="hidden" asp-for="OrderId" />
        <div class="form-group">
            <label asp-for="PizzaSizeId"></label>
            <select asp-for="PizzaSizeId" asp-items="ViewBag.PizzaSizesForSelect" class="form-control">
                <option value=""> - Please select pizza - </option>
            </select>
            <span asp-validation-for="PizzaSizeId" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Quantity"></label>
            <input asp-for="Quantity" class="form-control" />
            <span asp-validation-for="Quantity" class="text-danger"></span>
        </div>
        <input type="submit" value="Save" class="btn btn-primary"/>
        <a asp-controller="Order" asp-action="Details" asp-route-id="@Model.OrderId" class="btn btn-warning">Cancel</a>
    </form>