<h1>List of students</h1>
<ul>
    @{
        foreach (var student in ViewBag.Students)
        {
            <li>
                @student.FullName
                <a asp-controller="Student" asp-action="Details" asp-route-id="@student.Id">Details</a>
                <a asp-controller="Student" asp-action="Edit" asp-route-id="@student.Id">Edit</a>
            </li>
        }
    }
</ul>
