@model MenuViewModel

<h1>MENU</h1>

<div class="menu">
    @foreach (var item in Model.Menu)
    {
        @*@Html.Partial("~/Views/Shared/_pizza.cshtml", item);*@
        <partial name="~/Views/Shared/_pizza.cshtml" for="@item" />
    }
</div>