.menu {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.menu > div {
    margin-right: 50px;
    margin-bottom: 30px;
}

.order-status {
    font-size: 30px;
}

.delieverd {
    color: green;
}

.not-delieverd {
    color: red;
}

.orders > div {
    margin-bottom: 20px;
}