@model HomeViewModel

@{ ViewBag.TItle = "Welcome";}

<div class="jumbotron">
    <h1>Welcome to the PizzaApp</h1>
    <p>The best application for ordering pizza in the town!</p>
    <p>
        <h3>Order your pizza NOW!</h3>
        @using (Html.BeginForm())
        {
            <div class="row">
                <div class="col-md-2">
                    <div class="input-group">
                        <span class="input-group-btn">
                            <button class="btn btn-danger" type="submit">Order</button>
                        </span>
                        @Html.TextBoxFor(x => x.NumberOfPizzas, new { @class = "form-control" })
                    </div>
                </div>
            </div>
        }
    </p>
</div>
