@model PizzaApp.MVC1.Models.Order
@{
    ViewData["Title"] = "GetOrder";
}

<h2>Get order details for pepperoni pizza order</h2>

<ul>
    <li>@Model.User.FirstName</li>
    <li>@Model.Pizza.Name</li>
    <li>@Model.OrderDate</li>
</ul>



