<h1>PizzApp</h1>
<h3>The best app for ordering Pizza</h3>

@Html.ActionLink("New order", "Create", "Order", null, new { @class = "btn btn-success", @id = "orderBtn" })

@*<a asp-controller="Order" asp-action="Create" class="btn btn-success">New order</a>*@
